header {
    background-color: rgb(233, 230, 230);
    display: flex;
    padding: 30px 80px 30px 80px;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 3rem;
    color: #1B263C;
}

#nav {
    display: flex;
    gap: 1em;
}

button {
    border: none;
    background-color: #fff;
    color: #1B263C;
    padding: 16px 28px;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 800;
}