* {
    padding: 0px;
    margin: 0px;
}

.home {
    background-image: url('../asset/images/thali.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    height: 80vh;
    padding: 20px 160px 0px 90px;
    align-items: center;
}

.site-info {
    line-height: 3rem;
}


