.menu {
    display: flex;
    flex-direction: column;
    padding-left: 20%;
}

#menu-div {
    display: flex;
    gap: 2em;
    margin: 20px;
}

.item-div {
    width: 350px;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.image {
    border-radius: 10px;
    width: 250px;
    height: 200px;
}

.fish-curry {
    background-image: url('../images/fish-curry.jpg');
    background-size: cover;
    background-position: center;
}

.pakoda {
    background-image: url('../images/pakoda.jpg');
    background-size: cover;
}

.chicken-biryani {
    background-image: url('../images/chicken-biryani.jpg');
    background-size: cover;
    background-position: center;
}

.idli {
    background-image: url('../images/idli.jpg');
    background-size: cover;
    background-position: center;
}

.pav-bhaji {
    background-image: url('../images/pav-bhaji.jpg');
    background-size: cover;
    background-position: center;
}

.samosa {
    background-image: url('../images/samosa.jpg');
    background-size: cover;
    background-position: center;
}

